body {
	background-color: #323d44;
	box-sizing: border-box;
	margin: 0;
}

#clockContainer {
	background-image: linear-gradient(to bottom right, #282c66, #207fd8);
	color: #d3e1ea;
	font-family: "Lucida Console", Monaco, Copperplate;
	padding: 1em;
	text-align: center;	
}

#clock {
	display: inline-block;
	font-size: 200px;
	margin-bottom: 50px;
	margin-top: 100px;
}

#deciseconds {
	display: inline-block;
	font-size: 50px;
}

#timerContainer {
	margin-bottom: 0px;
	text-align: center;
	width: 100%;
}

.timer {
	background-color: #171d5e;
	display: flex;
	font-size: 1.4em;
	padding: 0.5em;
	margin: 1em auto;
	width: 75%;
}

.timer .timerBody {
	display: flex;
	flex: 80%;
	justify-content: center;
	align-items: center;
}

.timer .timerBody input {
	width: 7em;
}

.timer .timerBody p {
	color: #d3e1ea;
	font-weight: bolder;
	letter-spacing: 0.15em;
	margin: 0 1em;
}

.timer .timerFooter {
	flex: 20%;
	text-align: center;
}

.timer .timerFooter button {
	background-color: #aa2a35;
	border: none;
	color: white;
	font-size: 50px;
	padding: auto;
	height: 100%;
	width: 100%;
}

#timerMaker {
	background-color: #21254f;
	color: #d3e1ea;
	font-size: 1.4em;
	font-weight: bolder;
	position: relative;
	bottom: 0;
	width: 100%;
}

#timerMaker .body {
	text-align: center;
	padding-top: 1em;
}

.timerMakerInput {
	background-color: #07091e;
	border: none;
	color: #d3e1ea;
	font-size: 30px;
	padding: 5px;
	width: 40%;
}

#timerMakerMinutes {
	text-align: right;
}

#timerMakerAlarm {
	text-align: center;
	margin-bottom: 1em;
	min-width: 60%;
}

#addTimerButton {
	border: none;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 1em;
	width: 100%;
}

#timerMaker .footer {
	background-color: #1b1b24;
	text-align: center;
}

.activeTimer {
	background-color: #3143ce;
}


.beingDragged {
	background-color: #3169b7;
}

@keyframes droppedElement {
	from {background-color: green;}
	to {background-color: #1c2054;}
}

.justDropped {
	animation-name: droppedElement;
	animation-duration: 1s;
}

.concealed {
	display: none;
}


@media only screen and (min-width: 1265px) {
	
	body {
		background-color: #455368;
		box-sizing: border-box;
		padding: 1em;
	}

	#clockContainer {
		/*background-color: #282c66;
		*/
		background-image: linear-gradient(to bottom right, #282c66, #207fd8);
		color: #fcf4fa;
		font-size: 50px;
		font-family: "Lucida Console", Monaco, Copperplate;
		font-weight: bolder;
		letter-spacing: .7em;
		margin-bottom: 1em;
		padding: 0.2em;
		text-align: center;
	}

	#clock {
		font-size: 100px;
	}

	#deciseconds {
		
	}

	#clockContainer p{
		display: inline-block;
	}

	#clockContainer h5{
		display: inline-block;
	}
	
	#playButtonMain {
		width: 100px;
	}

	#timerContainer {
		margin-bottom: 0;
	}

	.timer {
		align-items: center;
		background-color: #1c2054;
		display: flex;
		height: 100px;
		justify-content: center;
		margin-bottom: 1em;
		width: 80%;
		margin: 1em auto;
	}

	.timer div {
		text-align: center;
		height: 100%;
	}

	.timerHeader {
		width: 15%;
		background-color: #202123;
	}

	.timerBody {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70%;
	}

	.timerBody p {
		color: #67b4fc;
		font-size: 20px;
		font-weight: bolder;
		letter-spacing: 2px;
		margin: 0 1em;
	}

	.timer .timerBody input{
		width: 50px;
		height: 50px;
	}

	.timerFooter {
		width: 15%;
	}

	.timer .timerFooter button {
		border: none;
		background-color: #7f3638;
		color: white;
		font-size: 30px;
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
	}


	.activeTimer {
		background-color: #3143ce;
	}

	.activeTimer .timerFooter button {
		background-color: #ad393d;
	}


	.beingDragged {
		background-color: #3169b7;
	}

	.concealed {
		display: none;
	}

	#timerMaker {
		background-color: #272a72;
		position: relative;
	}

	#timerMaker .body {
		display: flex;
		color: white;
		font-weight: bolder;
		letter-spacing: 2px;
		padding: 1em;
		text-align: center;
	}

	#timerMaker .body p {
		display: inline-block;
	}

	#timerMakerConfiguration {
		display: inline-block;
		flex: 60%;
	}

	#timerMaker .body button{
		background-color: #21b273;
		border: none;
		color: white;
		font-size: 20px;
		flex: 30%;
	}


	#timerMaker .footer {
		background-color: #191919;
		
		text-align: center;
		width: 100%;
	}

	.timerMakerInput {
		background-color: #111451;
		border: none;
		color: #67b4fc;
		font-size: 18px;
		font-weight: bolder;
		padding: 5px;
	}

	#timerMakerMinutes {
		text-align: right;
	}

	.timerFooter button:hover {
		background-color: #c12a34;
	}

	@keyframes droppedElement {
		from {background-color: green;}
		to {background-color: #1c2054;}
	}

	.justDropped {
		animation-name: droppedElement;
		animation-duration: 1s;
	}
}	
